In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data/gapminder.tsv',sep='\t')

In [7]:
df.head(2)

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [8]:
df.tail(2)

       country continent  year  lifeExp       pop   gdpPercap
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [12]:
df.sample(2)

          country continent  year  lifeExp       pop    gdpPercap
1417        Spain    Europe  1957   66.660  29841614  4564.802410
10    Afghanistan      Asia  2002   42.129  25268405   726.734055

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.shape

(1704, 6)

In [15]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [18]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.332, 9240934, 820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.10071],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499603],
       ['Zimbabwe', 'Africa', 2002, 39.989, 11926563, 672.0386227],
       ['Zimbabwe', 'Africa', 2007, 43.487, 12311143, 469.7092981]],
      dtype=object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [20]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [22]:
s_country = df['country']

In [23]:
type(s_country)

pandas.core.series.Series

In [24]:
s_country.head(2)

0    Afghanistan
1    Afghanistan
Name: country, dtype: object

In [27]:
subset = df[['country','continent','year']]

In [28]:
type(subset)

pandas.core.frame.DataFrame